<div class="export-selector-container">
  <select id="exportTypes" onchange={{this.triggerExport}}>
    <option value="">{{this.selectPrompt}}</option>
    <option value="Excel">Excel</option>
    <option value="CSV">CSV</option>
  </select>
</div>
