<div class='export-selector-container'>
  <select onchange={{action 'triggerExport' value="target.value"}}>
    <option value="">{{selectPrompt}}</option>
    <option value="Excel">Excel</option>
    <option value="CSV">CSV</option>
  </select>
</div>
