<h2 id="title">Welcome to Ember</h2>

<button type="button" {{on "click" this.downloadCSV}}>Download CSV</button>
<button type="button" {{on "click" this.downloadXLSX}}>Download XLSX (Excel)</button>
<button type="button" {{on "click" this.downloadMultiSheetXLSX}}>Download multi-sheet XLSX (Excel)</button>

{{outlet}}